<section>
  <h2>Catálogo de Productos</h2>

  <div class="row">
    @for (product of products; track product.id_producto) {
      <div class="col-md-4 mb-3 producto-Contenedor">
        <div class="card h-100">
          <img class="card-img-top imagen-producto" src="{{product.imagen}}" alt="{{product.nombre}}">
          <div class="card-body">
            <h5 class="card-title card-bodyh5">{{product.nombre}}</h5>
            <p class="card-text card-bodyp">{{product.descripcion}}</p>
            <p class="card-text card-costo"><strong>$</strong> {{product.precio_venta}}</p>
            <button class="btn btn-success boton-agregar" (click)="agregarAlCarrito(product)">Agregar al Carrito</button>
          </div>
        </div>
      </div>
    }
  </div>
</section>