<header class="fixed top-0 w-full z-50 bg-slate-50/80 dark:bg-slate-900/80 backdrop-blur-md shadow-sm dark:shadow-none">
  <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">
    
    <div class="flex items-center gap-8">
      <span class="text-xl font-bold tracking-tighter text-blue-900 dark:text-blue-50 font-headline">ETE-Tech</span>
      
      <nav class="hidden md:flex items-center space-x-6 font-manrope text-sm font-medium tracking-tight">
        <a class="text-blue-900 dark:text-white border-b-2 border-blue-900 dark:border-blue-400 pb-1" routerLink="/dashboard">Dashboard</a>
        <a class="text-slate-500 dark:text-slate-400 hover:text-blue-800 dark:hover:text-blue-200 transition-colors" routerLink="/inventory">Inventory</a>
        <a class="text-slate-500 dark:text-slate-400 hover:text-blue-800 dark:hover:text-blue-200 transition-colors" routerLink="/orders">Orders</a>
        <a class="text-slate-500 dark:text-slate-400 hover:text-blue-800 dark:hover:text-blue-200 transition-colors" routerLink="/clients">Clients</a>
        <a class="text-slate-500 dark:text-slate-400 hover:text-blue-800 dark:hover:text-blue-200 transition-colors" routerLink="/reports">Reports</a>
      </nav>
    </div>

    <div class="flex items-center space-x-4">
      <button class="p-2 text-slate-500 hover:bg-slate-100 dark:hover:bg-slate-800 transition-all active:scale-95 duration-150 rounded-full">
        <span class="material-symbols-outlined" data-icon="notifications">notifications</span>
      </button>
      <button class="p-2 text-slate-500 hover:bg-slate-100 dark:hover:bg-slate-800 transition-all active:scale-95 duration-150 rounded-full">
        <span class="material-symbols-outlined" data-icon="settings">settings</span>
      </button>
      <div class="h-8 w-8 rounded-full overflow-hidden ml-2 border border-outline-variant/20">
        <img alt="User profile" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCr4ICprMk-1w5habkUSSVnSGxt3pYhEewliJ4vpu1dGUmudGTvZC9lLHw1nO0c8QAC4L7EHhZ7yDEQawR8VcFIwM4zY7V1GVY5L97AcDOXvyQgp9n-CwR1EWXtq8RFGzvVpL_ZDiPppAKhi93x5UFZrXGFZU_cNxNjuvYTQnR6clRqX9pu9mE1PnUsuLz1AHMsUkt_cuK6ZofgfgXiaeA39CyNw0F5R60IFD_JJHdru5eXA-ilKD-uAc-FL_vGgMLoIBhoggAzlK8p"/>
      </div>
    </div>

  </div>
  <div class="bg-slate-200/50 dark:bg-slate-800/50 h-[1px]"></div>
</header>