<section>
    <h2>Carrito</h2>
    @if(carrito().length === 0){
        <p>El carrito esta vacio</p>
    } @else {
        <ul>
            @for (producto of carrito(); track producto.id_producto){
                <li class="producto">
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.precio_venta | currency}}</p>
                    <button class="btn btn-danger" (click)="eliminar(producto)">Eliminar</button>
                </li>
            }
        </ul>
        <p>Total: {{total() | currency}}</p>
        <button class="btn btn-danger" (click)="vaciar()">Vaciar</button>
        <button class="btn btn-primary" (click)="exportarXML()">Generar Tiquet</button>
    }
</section>

